<div>
  <h3>Thông tin chuyên mục</h3>

  <div style="display: inline-flex">
    <button
      style="margin-bottom: 10px"
      type="button"
      class="btn btn-primary"
      (click)="openDialog()"
    >
      Thêm chuyên mục
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div style="width: 10px"></div>
    <button
      style="margin-bottom: 10px"
      type="button"
      class="btn btn-primary"
      (click)="refreshData()"
    >
      Refresh
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
  <table mat-table [dataSource]="dataCategoryDisplay">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tên</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef>Tên url</th>
      <td mat-cell *matCellDef="let element">{{ element.category_name }}</td>
    </ng-container>

    <ng-container matColumnDef="display">
      <th mat-header-cell *matHeaderCellDef>Hiển thị</th>
      <td mat-cell *matCellDef="let element">
        <section class="example-section">
          <mat-slide-toggle
            [disabled]="isDisable"
            color="accent"
            class="example-margin"
            (change)="onChangeStatus($event, element)"
            [checked]="element.display == 1 ? true : false"
          >
          </mat-slide-toggle>
        </section>
      </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="function">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="btn-group btn-group-sm">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onUpdateCategory(element)"
          >
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteCategory(element.id)"
          >
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [length]="100"> </mat-paginator>
</div>
