<!-- Default Open Sidebar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark pmd-navbar pmd-z-depth">

  <!-- Left Toggle Button -->
  <a href="javascript:void(0);" data-target="leftsidebar" data-placement="left" is-open="true" is-open-width="1000" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle"><i class="material-icons md-light">menu</i></a>
  <!-- Brand -->
  <a class="navbar-brand" href="#">Brand</a>

  <!-- Navbar Right icon -->
  <div class="pmd-navbar-right-icon ml-auto">
    <!-- Search icon -->
      <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect"><i class="material-icons pmd-sm md-light">search</i></a>
      <!-- Right Toggle Button -->
      <a href="javascript:void(0);" data-target="rightsidebar" data-placement="right" data-position="fixed" is-open="true" is-open-width="1000" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle"><i class="material-icons md-light">more_horiz</i></a>
  </div>
</nav>
